params {
    // Path to the inputs.json file produced by `cirro-jbrowse-config select`
    inputs  = "inputs.json"

    // Output directory where the generated JBrowse2 static site is published
    outdir  = null
}

process {
    container     = 'ghcr.io/astral-sh/uv:python3.12-bookworm-slim'
    errorStrategy = 'finish'
}
