manifest {
    name        = 'CirroBio/Cirro-jbrowse-config'
    description = 'Generate JBrowse2 static genome browser configurations from Cirro datasets'
    version     = '0.1.0'
    homePage    = 'https://github.com/CirroBio/Cirro-jbrowse-config'
    mainScript  = 'workflow/main.nf'
    nextflowVersion = '>=23.04'
}
